<div id='map'></div>
<div id='response' style='display: none'><%= @response %></div>
<div id='job-coordinates' style='display: none'><%= @job_coordinates %></div>
<script>
  var responseJSON = $('#response').html();
  var response = JSON.parse(responseJSON);
  L.mapbox.accessToken = 'pk.eyJ1Ijoic2FpdG95ZXVuZyIsImEiOiJPOXA3aUowIn0.spWqAgo8-BgTGtYiLbOztg';
  var map = L.mapbox.map('map', 'examples.map-i86nkdio').setView([40.756059, -73.987109], 12);

  var route = response['routes'][0];
  var steps = route['legs'][0]['steps'];
  var latLngs = [];

  for(var i = 0; i < steps.length; i++) {
    currentLatLngs = google.maps.geometry.encoding.decodePath(steps[i]['polyline']['points']);
    convertedLatLngs = [];
    for(var j = 0; j < currentLatLngs.length; j++) {
      convertedLatLngs.push([currentLatLngs[j]['A'], currentLatLngs[j]['F']]);
    }

    latLngs = latLngs.concat(convertedLatLngs);
  }

  var polyline = L.polyline(latLngs, {color: 'red'}).addTo(map);

  var jobCoordinatesJSON = $('#job-coordinates').html();
  var jobCoordinates = JSON.parse(jobCoordinatesJSON);
  for(var i = 0; i < jobCoordinates.length; i++) {
    L.marker([jobCoordinates[i]['latitude'], jobCoordinates[i]['longitude']], {'title':jobCoordinates[i]['address']} ).addTo(map);
  }
</script>
